<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>TokenCSS</title>
		<style>
			* {
					box-sizing: content-box;
					margin: 0;
					padding: 0;
			}
		</style>
	</head>
	<body>
		<h1>TokenCSS</h1>
	</body>
</html>