---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TokenCSS</title>
  </head>
  <body>
    <h1>TokenCSS</h1>

    <style>
      * {
        box-sizing: content-box;
        margin: 0;
        padding: 0;
      }

      :root {
        font-family: sans;
      }

      body {
        min-height: screen;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h1 {
        color: blue.6;
      }
    </style>
  </body>
</html>
